/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
}

body{
    background:#f0f2f5;
    color:#1c1e21;
    font-family:Helvetica,Arial,sans-serif;
}

a{
    text-decoration:none;
}

img{
    display:block;
    max-width:100%;
}

button{
    cursor:pointer;
}